/* .cartContainer {
  border: 1px solid #dee2e6;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
} */

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cartList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cartItem {
  border: 1px solid #dee2e6;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
}

.summary {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
}

.price {
  color: #dc3545;
  font-weight: bold;
  margin-top: 5px;
}

.quantityContainer {
  align-items: center;
  display: flex;
  margin-top: 5px;
}

.quantityButton {
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  height: 25px;
  margin: 0 5px;
  width: 25px;
}

.quantity {
  font-size: 1.2rem;
  font-weight: bold;
}

.actions button {
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px 10px;
}

.header button {
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 4px;
  /* width:12px */
}

.total {
  display: flex;
  font-weight: bold;
  justify-content: flex-end;
  margin-top: 10px;
}

.total span:last-of-type {
  color: #dc3545;
  margin-left: 5px;
}
