.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background: linear-gradient(45deg, #1b1e2d, #242836, #1b1e2d);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  color: white;
}

.auth h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.control {
  margin-bottom: 1rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #f1e1fc;
  color: #4e665e;
  border-radius: 4px;
  border: none;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
}

.actions {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 0.75rem 2.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(194, 188, 188, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.actions button:hover {
  background-color: #045dbb;
  box-shadow: 0 4px 8px rgba(146, 142, 142, 0.3);
}

.actions .toggle {
  background-color: transparent;
  color: #f0eff1;
  border: none;
  padding: 0.15rem 1.5rem;
  transition: color 0.3s ease;
}

.actions .toggle:hover {
  color: #d099f5;
}
